<% include ../partials/header.ejs %>

  <% if (book) {%>
      <img  id="edit-book-image" src=<%=book.img_url%>>
      <form id="edit-book-form" method="POST" action="/books/<%=book.id%>/edit/?_method=PUT">
        <div>
        Title: <input name="title" value="<%=book.title%>">
        </div>
        <div>
        Image Link: <input name="imgUrl" value=<%=book.img_url%>>
        </div>
        <div>
        Price: <input name="price" value=<%=book.price%>>
        </div>
        <div>
        Number in Stock: <input name="inStock" value=<%=book.in_stock%>>
      </div>
      <div>
        ISBN: <input name="isbn" value=<%=book.isbn%>>
      </div>
      <div>
        Publisher: <input name="publisher" value="<%=book.publisher%>">
      </div>
        <div>
        Author
      </div>
      <% book.first_names.forEach(function (firstName, index) {%>
        <div>
          First Name: <input name="firstName<%=index%>" value=<%=firstName%>>
          Last Name: <input name="lastName<%=index%>" value=<%=book.last_names[index]%>>
          <button class="remove-author-input">X</button>
        </div>
      <% }) %>
          Genres
        <% book.genres.forEach(function (genre, index) {%>
          <div>
            <input list="genres" name="genre<%=index%>" value="<%=genre%>"><button class="close-genre-input">X</button>
          </div>
        <% }) %>
        <datalist id="genres">
          <% allGenres.forEach(function (genre) { %>
            <option value="<%=genre.name%>">
              <% }) %>
        </datalist>
        <button id="add-genre-input">Add Another Genre</button>
        <div>
        <input class="edit" type="submit" value="Edit">
      </div>
      </form>
      <div>
        <button data-id="<%=book.id%>" id="delete-button">Delete</button>
      </div>
  <% } %>

<% include ../partials/footer.ejs %>
