<% include ../partials/header.ejs %>

<% include ../partials/modal.ejs %>

  <% if (book) {%>
      <img  id="edit-book-image" src=<%=book.img_url%>>
      <form id="edit-book-form" method="POST" action="/books/<%=book.id%>/edit?_method=PUT">
        <div>
        Title: <input name="title" value="<%=book.title%>">
        </div>
        <div>
        Image Link: <input name="image" value=<%=book.img_url%>>
        </div>
        <div>
        Price: $<input name="price" value=<%=book.price%>>
        </div>
        <div>
        Number in Stock: <input name="inStock" value=<%=book.in_stock%>>
      </div>
      <div>
        ISBN: <input name="isbn" value=<%=book.isbn%>>
      </div>
      <div>
        Publisher: <input name="publisher" value="<%=book.publisher%>">
      </div>
        <div>
        Author
      </div>
      <% book.authors.forEach(function (author, index) {%>
        <div class="author-input">
          First Name: <input name="firstName<%=index%>" value=<%=author.first_name%>>
          Last Name: <input name="lastName<%=index%>" value=<%=author.last_name%>>
          <button id="button-author<%=index%>" type="button" class="remove-input">X</button>
        </div>
      <% }) %>
      <button type="button" id="add-author-input">Add Another Author</button>
        <div>
          Genres
        </div>
        <% book.genres.forEach(function (genre, index) {%>
          <div class="genre-input">
            <input list="genres" name="genre<%=index%>" value="<%=genre%>">
            <button id="button-genre<%=index%>" type="button" class="remove-input">X</button>
          </div>
        <% }) %>
        <button type="button" id="add-genre-input">Add Another Genre</button>
        <div>
        <input class="edit" type="submit" value="Edit">
      </div>
      </form>
      <div>
        <button data-id="<%=book.id%>" id="delete-button">Delete</button>
      </div>
      <datalist id="genres">
        <% allGenres.forEach(function (genre) { %>
          <option value="<%=genre.name%>">
            <% }) %>
      </datalist>
  <% } %>

<% include ../partials/footer.ejs %>
