<% include ../partials/header.ejs %>

  <% if (book) {%>
      <img  id="edit-book-image" src=<%=book.img_url%>>
      <form id="edit-book-form" method="put" action="/books/<%=book.id%>/edit">
        <div>
        Title: <input name="title" value="<%=book.title%>">
        </div>
        <div>
        Image Link: <input name="imgUrl" value=<%=book.img_url%>>
        </div>
        <div>
        Price: <input name="price" value=<%=book.price%>>
        </div>
        <div>
        Number in Stock: <input name="inStock" value=<%=book.in_stock%>>
      </div>
      <div>
        ISBN: <input name="isbn" value=<%=book.isbn%>>
      </div>
      <div>
        Publisher: <input name="publisher" value="<%=book.publisher%>">
      </div>
      <div>
        <!-- <input class="edit" type="submit" value="Edit Book Info"> -->
      </div>
      <!-- </form> -->
      <!-- <form id="edit-authors-form"> -->
        <div>
        Author
      </div>
      <div>
        First Name: <input name="firstName" value=<%=book.first_name%>>
      </div>
      <div>
        Last Name: <input name="lastName" value=<%=book.last_name%>>
      </div>
      <div>
        <!-- <input class="edit" type="submit" value="Edit Author Info"> -->
      </div>
      <!-- </form> -->
        <% const genres = book.genres.split(', ') %>
        <!-- <form id="edit-genres-form"> -->
          Genres
        <% genres.forEach(function (genre, index) {%>
          <div>
            <input list="genre<%= index %>" value="<%=genre%>">
            <datalist id="genre<%= index %>">
              <% allGenres.forEach(function (genre, index) { %>
                  <option value="<%=genre.name%>">
              <% }) %>
            </datalist>
          </div>
        <% }) %>
        <div>
        <input class="edit" type="submit" value="Edit">
      </div>
      </form>
      <div>
        <button id="delete-button">Delete</button>
      </div>
  <% } %>

<% include ../partials/footer.ejs %>
