<%- include ../partials/header.ejs %>

<%- include ../partials/modal.ejs %> 

<ul class="book-list" id="homepage-books">
  <% if(books) {%>
    <% books.forEach(function(book) {%>
      <li><a href="/books/<%=book.id%>"><img alt="No Image Available" src=<%=book.img_url%>></a></li>
    <% }) %>
  <% } %>
</ul>

<ul class="book-list" id="search-books">
</ul>

<%- include ../partials/footer.ejs %>
