<%- include ../partials/header.ejs %>

<ul class="book-list" id="search-books">
  <% if(books) {%>
    <% books.forEach(function(book) {%>
      <li>
        <a href="/books/<%=book.id%>">
          <img class="book-list-image" src=<%=book.img_url%>>
        </a>
        <div class="book-info-container">
          <div class="search-title">
            <a href="/books/<%=book.id%>">Title: <%=book.title%></a>
          </div>
          <div class="search-author">
            Author: <%=book.first_name%> <%=book.last_name%>
          </div>
          <div class="search-price">
            Price: $<%=book.price%>
          </div>
        </div>
      </li>
    <% }) %>
    <% offset = parseInt(offset) %>
    <% if (offset >= 10) {%>
      <% let previous = offset - 10 %>
      <div id="search-prev-page"><a href="search?search=<%=searchTerm%>&amp;start=<%=previous%>">
        Prev Page
      </a>
    </div>
    <% } %>
    <% offset += 10 %>
    <div id="search-next-page"><a href="search?search=<%=searchTerm%>&amp;start=<%=offset%>">
      Next Page
    </a>
  </div>
  <% } %>
</ul>

<%- include ../partials/footer.ejs %>
