<%- include ../partials/header.ejs %>

<ul class="book-list" id="search-books">
  <% if(books) {%>
    <% books.forEach(function(book) {%>
      <li>
        <a href="/books/<%=book.id%>">
          <img src=<%=book.img_url%>>
          <div id="search-title">
            <%=book.title%>
          </div>
        </a>
        <div id="search-author">
          <%=book.first_name%> <%=book.last_name%>
        </div>
        <div id="search-price">
          $<%=book.price%>
        </div>
    <% }) %>
    <% offset = parseInt(offset) %>
    <% if (offset >= 10) {%>
      <% let previous = offset - 10 %>
      <div id="search-next-page"><a href="search?search=<%=searchTerm%>&amp;start=<%=previous%>">
        Prev Page
      </a>
    </div>
    <% } %>
    <% offset += 10 %>
    <div id="search-next-page"><a href="search?search=<%=searchTerm%>&amp;start=<%=offset%>">
      Next Page
    </a>
  </div>
  <% } %>
</ul>

<%- include ../partials/footer.ejs %>
